.shop-container {
    display: grid;
    margin: 50px;
    padding: 50px;

    grid-template-columns: repeat(4, 1fr);
}

.feature-container {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */

    text-align: center;
}

.features-container {
    /* margin-left: 200px; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media screen and (max-width: 576px) {
    .features-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.products {
    text-align: center;
    justify-content: center;
}

.featureT {
    padding-bottom: 50px;
}